*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'sans-serif', sans-serif;
}
hr{
        border: 1px solid #f0f0f0;
        background:#f0f0f0 ;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
.header{
    height: 600px;
    background-size: cover;
    animation: animate 10s infinite ease-in-out;
}
@keyframes animate{
    0%, 100%{
        background-color:rgb(2, 90, 32) ;
    }
    20%{
        background-color:rgb(93, 107, 29) ;
    }
    40%{
        background-color:rgb(22, 4, 65);
    }
    60%{
        background-color:rgb(73, 10, 70) ;
    }
    80%{
        background-color:rgb(139, 48, 48) ;
    }
}
.container{

    width: 100%;
    padding: 0 25px;
}
li, a, button{
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
#logo{
    margin-right: auto;
    margin-left: 5%;
    font-weight: 900;
    font-size: 25px;
}
.special-icon{
    font-size: 8px;
    color: rgb(9, 255, 132);
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    left: 0%;
    width: 100%;
    z-index: 5;
}
.bg.selected{
background-color: #fff;
width: 100%;
}
.text{
    color: #555 !important;
}
.btnjs{
    color: #555;
    border: 1px solid #555 !important;
    background: #fff;
}
.btnjs:hover{
    background: rgb(3, 184, 99) !important;
    color: #fff !important;
    border: 1px solid rgb(2, 85, 44) !important;
    
}
.bg.anchor>a{
    color: #555;
}
.navbar a:hover{
    color: #fff;
}
.nav-links{
    list-style: none;
    display: inline-block;
    margin-left: -10%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.nav-links li{
    display: inline-block;
    padding: 0px 15px;
}
#join-btn{
    padding:4px 20px;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}
#join-btn:hover{
    background-color:#fff;
    color:rgb(2, 90, 32);
}
.col-2{
    width: 100%;
    margin: 0 auto;
align-items: center;
justify-content: center;
}
#col{
    margin-top: 130px;
    color: #fff;
    font-size: 23px;
}
.col-2 h6{
    display: inline;
    margin-left: 27%;
    margin-top: 2%;
}
.col-2 h1{
   text-align: left;
   margin: 0 50% 0 27%;
   width: 40%;
}
.col-2 input{
    display: inline-block;
    font-size: 30px;
    box-sizing: border-box;
    transition: .5s;
    margin-top: 25px;
}
.search-bar{
    display: flex;
    width: 100%;
    justify-content: center;
}
input[type="text"]{
    background: #fff;
    width: 35%;
    height: 45px;
    border:none;
    outline: none;
    padding: 0 20px;
    color: #555;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
}
input[type="submit"]{
    color: #fff;
    background:rgb(3, 184, 99);
    width: 130px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 0 5px 5px 0;
    outline: none;
    cursor: pointer;   
}
input[type="submit"]:hover{
    background: rgb(1, 155, 83);
}
.direct-btn{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 3px 10px;
    margin-top: 2%;
}
.direct-btn:hover{
    background: #fff;
    color: #555;
}
/*---------------Trusted by css----------*/
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}
.brands{
    background: rgb(228, 227, 227);
}
.col-5{
    width: 160px;
}
.col-5 h5{
    margin-top: 20%;
}
.col-5 h4{
    font-weight: bold;
    font-size: 25px;
    margin-top: 17%;
    filter: grayscale(100%);
    transition: transform 0.5s;
    cursor: pointer;
    color: rgb(53, 52, 52);
}
.col-5 h4:hover{
    transform: translateY(-5px);
    filter: grayscale(0%);
    color: rgb(1, 155, 83);
}
/*<!------------------Recently viwed section----------------> */
/* external css: flickity.css */
* { 
    box-sizing: border-box;
}
.carousel {
  background: #fff;
}
.carousel-cell {
  width: 24%;
  height: 200px;
  margin-right: 10px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}
.flickity-page-dots{
    display: none;
} 
.carousel-cell:before {
  display: block;
  text-align: center;
  content: "";
  line-height: 200px;
  font-size: 80px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
#heading-1{
    font-family: 'sans-serif', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(63, 63, 63);
    margin-top:80px;
    margin-bottom:30px;
}
.second{
    height: 50vh;
}
.second img{
    height: 50vh;
    width: 100%;
}
.second .content{
    position: absolute;
    top: 1%;
    left: 5%;
    z-index: 2;
    color: #fff;
    font-family: 'sans-serif', sans-serif;
}
.second .content p{
    margin-bottom: 0;
}
.second .content h3{
    font-weight: bold;
}
.second .carousel-cell{
    height: 50vh;
    width: 24%;
    margin-right: 2%;
}
/*------------A whole world of freelance-----------*/
.header-1{
    height: 600px;
    margin-top: 100px;
    background: rgb(230, 255, 251);
}
.header-1 .container{
    margin-top: 35px;
}
.col-2-text{
    width:50% ;
}
.col-2-video{
    width:50% ;
}
.header-1 .col-2-text h1{
font-size: 40px;
font-weight: bold;
}
.header-1 .col-2-text .content-head h3{
    margin-top: 10px;
    font-size: 20px;
font-weight: bold;
}
.header-1 .col-2-text .p p{
    margin-top: 0;
    color: #555;
    font-size: 18px;
}
/*--------------Video Section-------*/
.header-1 .row{
display: flex;

}
.bi-play-circle-fill{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: rgb(1, 155, 83);
    font-size: 60px;
    cursor: pointer;
}
.video-player video{
   width: 100%;
height: 100%;  
}
.video-player{
    margin-top: 20%;
}
.video-player:focus{
outline: none;
}
/*-------------------------Testimonial----------------------*/
#heading-2{
    font-family: 'sans-serif', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(63, 63, 63);
    margin-bottom: 50px;
    margin-left: 350px;
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    border-radius: 50%;
    width: 80px;
    margin-top: 50px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.bi.bi-chat-left-quote-fill{
    font-size: 34px;
    color: rgb(3, 184, 99);
}
.col-3 p{
    font-size: 12px;
    margin:12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-size: 16px;
    font-weight: 600px;
    color: #555;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}
/* --------------footer css------------*/
footer .container{
    display: flex;
   justify-content: space-around;
   box-sizing: border-box;
   flex-wrap: wrap;
}
footer>.box{
    width: 50%;
}
footer .box{
    flex: 1;
    margin-right: 2rem;
    text-align: left;   
}
footer .box ul{
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
footer .box ul li a{
    color: hsl(0, 4%, 58%);
   text-decoration: none;
   transition: all .3s ease;
   letter-spacing: 0.5px;
}
footer .box ul li a:hover{
    text-decoration: underline;
}
footer .box h3{
    color: rgb(75, 72, 72);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
 }
 /*-------------copyright css-------------- */
footer .row-last{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom:20px;
}
footer .copyright{
    display: inline;
    width: 65%;
    font-size: 15px;
    font-weight: bold;
    color: #555;
}
footer .c-icons{
   
   display: flex;
   flex-wrap: wrap;
   gap: 3%;
    font-size: 20px;
    width: 25%;
    color: #555;
    cursor: pointer;
} 
.container .c-icons a{
    font-size: 20px;
    color: #555;
    text-decoration: none;
}
.menu{
    display: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    margin-right: 10px;
}
